@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="middle">
        <h2>Useful links</h2>
        <ul id="links">
            <li><a href="https://www.w3schools.com/css/default.asp" target="_blank">CSS tutorial - w3schools</a></li>
            <li><a href="https://pixabay.com/" target="_blank">Free Images</a></li>
        </ul>
    </div>
</div>